/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#hero {
  min-height: 100vh;
  background: #111;
  background: radial-gradient(circle at top left, #111, rgb(44, 44, 185));
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;

.btn-primary {
  background-color: #e60000;
  border-color: #111;
  color: #fff;
}

.btn-secondary {
background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.6);
  backdrop-filter: blur(6px);
  color: #fff;
  
}

h1{
  font-weight: 900;
  font-size: 3.6em;
}

}

.hero-highlight {
  color: #e40808;
  font-weight: 900;
  display: block;
}




#cards {
  padding: 40px 0;
  background: #ffffff;
  display: flex;

  h2{
    font-weight: 900;
    color: rgb(6, 6, 56);
    font-size: 2.4em;
  }
}

#cards .feature-card {
  background: #eee;
  border: 0;
  height: auto;
}

#cards .feature-card .card-body{
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cards .card-title{
  font-weight: 900;
}

#cards .card-text{
  color: #6b6262;
}



#numbers {
  padding: 10px 0;
  display: flex;
  min-height: 20vh;
  background: #e40808;
  align-items: center;

  .card-title {
    color: white;
    font-weight: 900;
  }

  .card-body {
    color: white;
  }

}

#download {
  padding: 80px 0;
  background: rgb(6, 6, 56);
  display: flex;
  justify-content: center;
  align-items: center;

  .btn-primary {
  background-color: #ffffff;
  border-color: #111;
  color: #000;
}

.btn-secondary {
  background-color: white;
  border-color: #fff;
  color: #000;
}

h1{
  color: white;
  font-weight: 900;
}
p{
  color: white;
  font-size: 0.9em;
}

.btn{
  border-radius: 15px;
}

}

#footer {
  padding: 20px 0;
  background: #222;
  color: #fff;
  text-align: center;
  font-size: 0.75em;
  letter-spacing: 0.02em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 992px) {
  /* Style adjustments for viewports that meet the condition */
  #cards .feature-card {
    aspect-ratio: 1 / 1;
    display: flex;
  }

  #cards .feature-card .card-body {
    display: flex;
    flex-direction: column;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

